table{
    width: 80%;
    border-collapse: collapse;
}

tr:nth-last-of-type(even) {
    background-color: cornflowerblue;
}

tr:nth-of-type(odd){
    background-color: chartreuse;
}

td:nth-of-type(even){
    background-color: firebrick;
    color: maroon;
}

tr{
    font-size: 20px;
}

td,th{
    padding: .5em;
}


   